*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    width:100vw;
    background-color: #EA8F8F;
}
header #logo{
    width:20vw;
}
header #logo img{
    width:30vw;
}
header #menu{
    width:20vw;
}
header #menu img{
    width:25vw;
    margin-left: 30vh;
}
nav{
    position:absolute;
    width:100vw;
    background-color: #FFE1E1;
    margin-top:14vh;
}
nav li{
    list-style: none;
    border-top: 2px solid #DAA520;
    padding:10px;
}
#festas{
    border-bottom: 2px solid #DAA520; 
}
nav a{
    color:#772E2A;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
}
#presentear div{
    margin-left: 45px;
    width:75vw;
    height: 38vh;
    align-items: center;
    background-color: #FFE1E1;
    border: 5px solid #EA8F8F;
}
h1{
    color:#DAA520;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#presentear img{
    width:100%;
}
#barca{
    display: none;
}
#caixa{
    display:none;
}
#kit div{
    margin-left: 45px;
    width:75vw;
    height: 38vh;
    align-items: center;
    background-color: #FFE1E1;
    border: 5px solid #EA8F8F;
}
#kit img{
    width:100%;
}
#doces{
    display: none;
}
#cake{
    display: none;
}
h2{
    color:#772E2A;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3{
    color:#772E2A;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:15px;
}
@media only screen and (min-width: 980px){
    header{
        display:flex;
        width:100vw;
        background-color: #EA8F8F;
    }
    header #logo{
        width:5vw;
    }
    header #logo img{
        width:12vw;
    }
    header #menu img{
        width:9vw;
        margin-left: 170vh;
    }
    nav{
        position:absolute;
        width:100vw;
        height: 40vh;
        background-color: #FFE1E1;
        margin-top:21vh;
    }
    nav li{
        list-style: none;
        border-top: 2px solid #DAA520;
        padding:17px;
    }
    nav a{
        color:#772E2A;
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:none;
    }
    section div{
        grid-column: span 2;
    }
    #presentear{
        display:flex;
    }
    #presentear div{
        align-self: flex-end;
        margin: 60px;
        margin-left: 95px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    h1{
        color:#DAA520;
        font-size:30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 7px;
    }
    #presentear img{
        width:100%;
        height: 65%;
    }
    #barca{
        display: block;
        margin-left: 45px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    #caixa{
        display: block;
        margin-left: 45px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    #kit{
        display: flex;
    }
    #kit div{
        align-self: flex-end;
        margin: 60px;
        margin-left: 95px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    #kit img{
        width:100%;
        height: 65%;
    }
    #doces{
        display: block;
        margin-left: 45px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    #cake{
        display: block;
        margin-left: 45px;
        width:20vw;
        height: 47vh;
        align-items: center;
        background-color: #FFE1E1;
        border: 5px solid #EA8F8F;
    }
    h2{
        color:#772E2A;
        font-size:15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    h3{
        color:#772E2A;
        font-size:15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top:20px;
    }
}